#container {
  background-color: mintcream;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#block {
  background-color: white;
  width: 400px;
  height: 350px;
  margin-left: 260px;
  margin-top: 100px;
  display: inline-block;
  border-color: bisque;
  border-width: 8px;
  border-style: solid;
  color: gray;
  text-align: left;
  padding: 0 20px;
}

h2 {
  text-align: center;
  padding-bottom: 10px;
}

button {
  margin-left: 340px;
}


span {
  color: black;
}